@import "tailwindcss";
@plugin "daisyui";

/* @import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600&display=swap');

body {
  font-family: 'Hind Siliguri', sans-serif;
} */


@font-face {
  font-family: 'Sharif Osman Hadi';
  src: url('./assets/Hadi\ \(Rounded\).ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Sharif Osman Hadi', 'Hind Siliguri', sans-serif;
}